.swiper {
  --swiper-theme-color: green;
}

.swiper .swiper-button-next, 
.swiper .swiper-button-prev {
  background: #3A3C40;
  padding: 5px;
}

.swiper .swiper-button-prev {
  left: 0;
}

.swiper .swiper-button-next {
  right: 0
}

.swiper .swiper-button-next.swiper-button-disabled,
.swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  pointer-events: all;
}
